
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins;
    font-family: DM Sans;
}



@media screen and (max-width: 375px){
    


body{
    
    
    header{
        overflow: hidden;
        background: url(./images/Ellipse\ 4\ \(1\).png), url(./images/Circle\ 6\ \(2\).png), url(./images/Ellipse\ 4\ \(1\).png), url(./images/Ellipse\ 743.png), url(./images/Circle\ 1.png), url(./images/Circle\ 2\ \(1\).png);
        background-repeat: no-repeat;
        background-size: 9%, 6%, 22%, 49%, 6%, 49%;
        background-position-x: 206px, 301px, 672px, 252px, 1390px, 258px;
        background-position-y: 350px, 542px, 195px, 940px, 690px, 160px;
        width: 100%;
        &>.container{
            max-width: 375px;
            margin: 0 auto;
            padding: 40px 32px;    
            
            &>nav{
                
                &>.hero1{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &>.home{
                        display: flex;
                        gap: 30px;
                        &>label{
                            display: block;
                        }
                        &>input{
                            display: none;
                        }
                        &>.collab{
                            display: flex;
                            align-items: center;
                            gap: 11px;
                            &>.collab-text{
                                color: var(--text-dark, #292930);
                                font-family: Poppins;
                                font-size: 28px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 97.827%; /* 27.392px */
                                letter-spacing: -0.84px;
                                &>.nuqta{
                                    color: var(--color-primary, #5956E9);
                                    font-family: Poppins;
                                    font-size: 28px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 97.827%;
                                    letter-spacing: -0.84px;
                                }
                            }
                            
                        }
                        &>ul{
                            display: none;
                            &>li{
                                
                               display: none;
                            }
                            
                        }
                    }
                    &>.search-btn{
                        display: flex;
                        align-items: center;
                        gap: 40px;
                        &>.search{
                            color: #292930;
                        }
                        &>.get-btn{
                            display: none;
                            // &>a{
                            //     color: #2522BA;
                            //     text-align: center;
                            //     font-family: Poppins;
                            //     font-size: 16px;
                            //     font-style: normal;
                            //     font-weight: 500;
                            //     line-height: normal;
                            //     letter-spacing: -0.64px;
                                
                            // }
                            // width: 180px;
                            // height: 72px;
                            // flex-shrink: 0;
                            // border-radius: 20px;
                            // background: #FAB8C4;
                            // padding: 24px 47px;
                        }
                    }
                }
            }
            
            &>.hero2{
                display: flex;
                flex-direction: column;
                margin: 121px  0 0 0px;
                gap: 30px;
                &>.hero-text{
                    width: 276px;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    &>h1{
                        color: #292930;
                        font-family: DM Sans;
                        font-size: 60px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 99.327%; /* 95.354px */
                        letter-spacing: -2.4px;
                        &>b{
                            color: var(--color-primary, #5956E9);
                            
                            /* Display/Left */
                            font-family: DM Sans;
                            font-size: 60px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 99.327%;
                            letter-spacing: -2.4px;
                        }
                    }
                    &>p{
                        color: var(--text-grey, #999FAE);
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    &>.btns{
                        display: flex;
                        align-items: center;
                        gap: 32px;
                        margin: 10px 0;
                        
                        &>.get-btn{
                            color: var(--color-white, #FFF);
                            text-align: center;
                            
                            /* Button */
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: -0.64px;
                            width: 178px;
                            height: 82px;
                            display: inline-flex;
                            padding: 29px 40px;
                            align-items: flex-end;
                            gap: 10px;
                            border-radius: 20px;
                            background: var(--color-primary, #5956E9);
                        }
                        &>.see-btn{
                            display: flex;
                            color: var(--text-grey, #999FAE);
                            gap: 10px;
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: -0.64px;
                        }
                    }
                    &>.scroll{
                        display: flex;
                        align-items: center;
                        gap: 14px;
                        margin: 74px 0;
                        &>div{
                            color: var(--text-grey, #999FAE);
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; 
                            letter-spacing: -0.4px;
                        }
                    }
                }
                &>.hero-img{
                    &>.img-h1{
                        transform: translate(200px,-451px);
                        &>img{
                            width: 165px;
                            height: 157px;
                        } 
                    }
                    &>.img-h2{
                        transform: translate(-20px,135px);
                        &>img{
                            width: 414px;
                            height: 324px;
                        }
                    }
                    &>.img-h3{
                        transform: translate(33px,100px);
                        &>img{
                            width: 209px;
                            height: 32px;
                        }
                    }
                    &>.img-h4{
                        transform: translate(-66px,-752px);
                        
                        &>img{
                            width: 142px;
                            height: 85px;
                        }
                    }
                    &>.img-h5{
                        transform: translate(-11px,-221px);
                        &>img{
                            width: 317px;
                            height: 211px;
                        }
                    }
                    &>.img-h6{
                        transform: translate(-8px,-538px);
                        &>img{
                            width: 315px;
                            height: 222px;
                        }
                    }
                    &>.img-h7{
                        transform: translate(223px,-553px);
                        &>img{
                            width: 100px;
                            height: 48px;
                        }
                    }
                    
                }
            }
        }
    }
}
    
}


