*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins;
    font-family: DM Sans;
}
// $color1:#FFDC60;
// $color2:#FAB8C4;
// $color3:#5956E9;
// $color4:#FFFFFF;

header{
    background: url(./images/Ellipse\ 4\ \(1\).png), url(./images/Circle\ 6\ \(2\).png), url(./images/Ellipse\ 4\ \(1\).png), url(./images/Circle\ 5.png), url(./images/Circle\ 1.png), url(./images/Circle\ 2\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 30%, 2%, 22%, 20%, 6%, 90%;
        background-position-x: -182px, 612px, 747px, 830px, 1465px, 1148px;
    background-position-y: -249px,992px, 220px, 1610px, 715px, -44px;
    margin: 0 auto;
    max-width: 100%;
    outline: hidden;
    &>.container{
        // padding: 64px 100px;

        &>nav{
            padding: 64px 100px;

            &>.hero1{
                display: flex;
                align-items: center;
                justify-content: space-between;
                // gap: 600px;
                &>.home{
                    display: flex;
                    gap: 60px;
                    &>.collab{
                        display: flex;
                        align-items: center;
                        gap: 11px;
                        &>.collab-text{
                            color: var(--text-dark, #292930);
                            font-family: Poppins;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 97.827%; /* 27.392px */
                            letter-spacing: -0.84px;
                            &>.nuqta{
                                color: var(--color-primary, #5956E9);
                                font-family: Poppins;
                                font-size: 28px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 97.827%;
                                letter-spacing: -0.84px;
                            }
                        }

                    }
                    &>ul{
                        display: flex;
                        align-items: center;
                        gap: 55px;
                        &>li{
                           
                            &>a{
                                color: var(--text-grey, #999FAE);
                                /* Button */
                                font-family: Poppins;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: -0.64px;
                            }
                            a:hover{
                                color: #292930;
                                border-bottom: 2px solid #5956E9;
                            }
                            &>.active{
                                color: #292930;
                                border-bottom: 2px solid #5956E9;

                            }
                        }
                       
                    }
                }
                &>.search-btn{
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    &>.get-btn{
                        &>a{
                            color: #2522BA;
                            text-align: center;
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: -0.64px;

                        }
                        width: 180px;
                        height: 72px;
                        flex-shrink: 0;
                        border-radius: 20px;
                        background: #FAB8C4;
                        padding: 24px 47px;
                    }
                }
            }
        }

        &>.hero2{
            display: flex;
            // align-items: center;
            margin: 0 200px;
            gap: 30px;
            &>.hero-text{
                width: 443px;
                display: flex;
                flex-direction: column;
                gap: 25px;
                &>h1{
                    color: #292930;
                    font-family: DM Sans;
                    font-size: 96px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 99.327%; /* 95.354px */
                    letter-spacing: -2.4px;
                    &>b{
                        color: var(--color-primary, #5956E9);

                    /* Display/Left */
                    font-family: DM Sans;
                    font-size: 96px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 99.327%;
                    letter-spacing: -2.4px;
                    }
                }
                &>p{
                    color: var(--text-grey, #999FAE);
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                &>.btns{
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    margin: 10px 0;

                    &>.get-btn{
                        color: var(--color-white, #FFF);
                        text-align: center;

                        /* Button */
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: -0.64px;
                        width: 178px;
                        height: 82px;
                        display: inline-flex;
                        padding: 29px 40px;
                        align-items: flex-end;
                        gap: 10px;
                        border-radius: 20px;
                        background: var(--color-primary, #5956E9);
                    }
                    &>.see-btn{
                        display: flex;
                        color: var(--text-grey, #999FAE);
gap: 10px;
                        /* Button */
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: -0.64px;
                    }
                }
                &>.scroll{
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    margin: 74px 0;
                    &>div{
                        color: var(--text-grey, #999FAE);
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; 
                        letter-spacing: -0.4px;
                    }
                }
            }
            &>.hero-img{
                &>.img-h1{
                    transform: translate(581px,-856px);
                    // &>img{
                    // //  box-shadow: 29.54286px 44.31429px 29.54286px 0px rgba(0, 0, 0, 0.15);
                    // }
                }
                &>.img-h2{
                    transform: translate(192px,135px);
                }
                &>.img-h3{
                    transform: translate(310px,100px);
                }
                &>.img-h4{
                    transform: translate(106px,-1252px);
                }
                &>.img-h5{
                    transform: translate(207px,-408px);
                }
                &>.img-h6{
                    transform: translate(230px,-965px);
                }
                &>.img-h7{
                    transform: translate(668px,-947px);
                }

            }
        }
    }
}